---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    title: 'Trainee Web Developer',
    company: 'Escola Port Barcelona',
    location: 'Barcelona, Spain',
    date: 'Abril 2019 - Junio 2019',
    description:
      'Implementaci칩n de nuevas funcionalidades web, optimizando la interactividad y experiencia del usuario. Gesti칩n de plugins de WordPress. Desarrollo con PHP, JavaScript, HTML y CSS, adapt치ndose a las necesidades del proyecto. Colaboraci칩n con el equipo de desarrollo para implementar mejoras.'
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
