---
const currentYear = new Date().getFullYear()
---

<footer class="site-footer">
  <span>© {currentYear} / Víctor Puerta</span>

  <div class="site-footer-links">
    <a href="https://github.com/zvizzct" target="_blank" rel="noopener noreferrer">
      GitHub
    </a>
    <a
      href="https://www.linkedin.com/in/victor-puerta-zvizzct/"
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
    <a href="mailto:victor.puerta2298@gmail.com">Email</a>
  </div>
</footer>
